* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image:"structure-wood-texture-floor-number-building-1284443-pxhere.com (1).jpg"
    padding: 20px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

.image {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.main-nav a {
    text-decoration: none;
}

.main-nav {
    list-style: none;
}

p {
    padding: 10px;
}

.header {
}


