* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(blue-background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0px auto;
    width: 900px;
    padding: 20px;
    max-width: 100%;
}

img {
    max-width: 100%;
    border-radius: 10px;
    justify-content: center;
}

.image {
    margin-bottom: 20px;
    margin: 0 auto;
    object-fit: auto;
    max-width: 65%;
}

.gss-image {
    margin: 0 auto;
    object-fit: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 248, 255, .5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.header h1 {
    font-family: monospace;
}
.projects-header {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 300%;
}

.main-nav a {
    text-decoration: none;
}
.main-nav li {
    margin-top: 5px;

}

.main-nav {
    list-style: none;
    margin-top: 5px;
    margin-right: 10px;
}

details {
    background: cornflowerblue;
    padding: 5px;
    border-radius: 5px;
}

details summary::-webkit-details-marker {
    display: none;
  }

.about {
    margin-top: 20px;
    color: white;
}
.about p {
    font-size: 150%;
}

.gss-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(248, 248, 255, .25);
    border-radius: 5px;
    padding: 20px;
}
.gss-links {
    text-align: center;
    margin-top: 20px;
}

.resume-container {
    background-color: rgba(248, 248, 255, .25);
    border-radius: 5px;
    padding: 20px;
}

.resume-container ul {
    margin-top: 5px;
    margin-left: 20px;
}

.resume-employment {
    margin-top: 30px;
}

.resume-contact h3 {
    margin-top: 20px;
}
.resume-contact p {
    padding: 0px;
}
.resume-tag {
    margin-top: 10px;
}

.centro {
    margin-top: 20px;
}

.us-foods {
    margin-top: 30px;
}

.education {
    margin-top: 30px;
}
.education li {
    list-style: none;
    margin-top: 5px;    
}

@media screen and (min-width: 800px)
{
    .container {
        display: flex;
    }
    .image {
        width: 50%;
        padding-right: 20px;
    }
    .about {
        width: 50%;
    }
    .gss-display {
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .gss-image {
        width: 50%;
        padding-left: 10px;
    }
    .gss-about {
        width: 50%;
    }
    .job-date {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 5px;
    }
    .education-date {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
}
p {
    padding: 5px;
}


